<main>
    &nbsp;&nbsp;
      <div style="width: 97%;">
        <app-topnav></app-topnav>
        <div style="height: 100%;">
          <app-innernav></app-innernav>
          <!-- GRID SYSTEM -->
          <div class="row">
            <!-- BACKLOG LIST -->
            <!-- CREATE PROJECT CARD -->
            <div class="col" style="width: 100%">
              &nbsp;
              <div class="card border-light mb-3" style="width: 100%; border: none">
                <div class="card-header" style="width:100%; background-color:#ffffff; color:rgb(27, 27, 27);">Feedback History
                  &nbsp;&nbsp;
                </div>
                <div class="card border-light mb-3" style="width: 95%;margin-left: auto; margin-right: auto; border: none;">
                  &nbsp;&nbsp;
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-9">Problem with the definition of your project</div>
                        <div class="col"  style="margin-left:auto; margin-right:auto; cursor: pointer;">
                            <img src="../../../../../../../assets/media/logos/launch_black_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                &nbsp;&nbsp;&nbsp;
              </div>
            </div>
            <div class="col-10">
              <div class="col">
                &nbsp;
                <div class="card" style="width: 18rem;" style="width: 100%;">
                  <div class="card-body" style="border:none">
                    <div style="overflow: scroll; height: 500px;">
                      <div style="width: 95%; margin-left:auto; margin-right:auto;">
                          <label for="floatingTextarea" style="padding-bottom: 0px; background-color:transparent; width:50%;z-index: 1; position:absolute;">Feedback</label>
                          <div class="form-floating">
                            &nbsp;
                            &nbsp;
                            <div class="row">
                              <div class="col" style="overflow:scroll">
                                <div style="overflow: scroll; width: 95%; margin-left: auto; margin-right: auto; position:initial">
                                  <textarea readonly style="width: 100%; height: 450px; resize: none; border:none; outline: none;">
                                    Here are 65 examples of long sentences ranging from the relatively brief 96 words to one of the longest sentences at 2,156 words.

                                    Almost all of the really long sentences are under 1,000 words. The six longest sentences (1,000+ words) are mostly a curiosity, just to see what is possible.
                                    
                                    I hope students of writing can study these sentences to find inspiration. My advice on how to learn from them? Try these three practices:
                                    
                                    1. Copy them exactly
                                    2. Take them apart, analyze each part, and see how the engine works
                                    3. Ape their form with different content
                                    
                                    I also hope this list might be helpful for teachers and professors of writing, who want more lengthy sentence examples to show their students. If you want to teach short sentences, I’ve also compiled a list of those.
                                    
                                    The longest sentence in English is also awesome. The longest sentence award goes to:
                                    
                                    Jonathan Coe’s The Rotter’s Club, 13,955 word sentence
                                    And for a runner-up: James Joyce, Ulysses, 4,391 word sentence
                                    And there are even one-sentence books — actually, a few of them. But I’m not reposting an entire book.
                                    
                                    And let’s end all this nonsense about how long sentences = run-on sentences. You can have a six-word run-on sentence (“I went shopping I ate donuts.”), while most of the sentences below are much, much longer than that and are not run-ons (except for a few examples like Jose Saramago).  But whether the sentence is grammatically correct isn’t nearly as important as whether the sentence is fun or beautiful.
                                    
                                    I hope that a study of very long sentences will arm you with strategies that are almost as diverse as the sentences themselves, such as: starting each clause with the same word, tilting with dependent clauses toward a revelation at the end, padding with parentheticals, showing great latitude toward standard punctuation, rabbit-trailing away from the initial subject, encapsulating an entire life, and lastly, as this sentence is, celebrating the list.
                                    
                                    What’s the definition of a long sentence? For my purposes, I’m defining it as more than a 100 words. I’ve cheated with a few beautiful sentences a few words short, because there is no sense in having an absolute and arbitrary rule, but more than 100 words was my guiding principle. I think any sentence more than 100 words is almost guaranteed to be complex, complicated, and enormous.
                                    
                                    If you like this list, please check out this other writing resource at Bookfox:
                                    
                                    17 Fantastic Examples of Sentence Repetitions
                                    As far as improving the list, I’d love to make it more diverse. If you have suggestions of 100+ word sentences from the type of authors who aren’t represented here, I would love if you could post your example in the comments, or at least direct me to where I could find it.
                                    
                                    Also, if you have a sentence that you love from a particular author, and you think it’s a better sentence than the one I’ve quoted, please, by all means, let’s have the sentences do battle! Post it and we’ll see whether it’s better.
                                    
                                    And also, if you’re studying sentences, you probably would like advice on how to write a book. 
                                    
                                    In which case you should definitely read my post on the best advice on how to write your novel.
                                    
                                    As an editor, I’ve helped hundreds of writers start and finish their stories, so please learn from all that experience.
                                    
                                    LONG SENTENCE EXAMPLES IN LITERATURE
                                    VLADIMIR NABOKOV, “THE GIFT.” 96 WORDS.
                                    “As he crossed toward the pharmacy at the corner he involuntarily turned his head because of a burst of light that had ricocheted from his temple, and saw, with that quick smile with which we greet a rainbow or a rose, a blindingly white parallelogram of sky being unloaded from the van—a dresser with mirrors across which, as across a cinema screen, passed a flawlessly clear reflection of boughs sliding and swaying not arboreally, but with a human vacillation, produced by the nature of those who were carrying this sky, these boughs, this gliding façade.”
                                    
                                    JOSE SARAMAGO, “BLINDNESS.” 97 WORDS. 
                                    “On offering to help the blind man, the man who then stole his car, had not, at that precise moment, had any evil intention, quite the contrary, what he did was nothing more than obey those feelings of generosity and altruism which, as everyone knows, are the two best traits of human nature and to be found in much more hardened criminals than this one, a simple car-thief without any hope of advancing in his profession, exploited by the real owners of this enterprise, for it is they who take advantage of the needs of the poor.”
                                    
                                    VLADIMIR NABOKOV, “LOLITA.” 99 WORDS.
                                    “My very photogenic mother died in a freak accident (picnic, lightning) when I was three, and, save for a pocket of warmth in the darkest past, nothing of her subsists within the hollows and dells of memory, over which, if you can still stand my style (I am writing under observation), the sun of my infancy had set: surely, you all know those redolent remnants of day suspended, with the midges, about some hedge in bloom or suddenly entered and traversed by the rambler, at the bottom of a hill, in the summer dusk; a furry warmth, golden midges.”
                                    
                                    LAURENCE STERNE, “THE LIFE AND OPINIONS OF TRISTRAM SHANDY.” 107 WORDS.
                                    “The French are certainly misunderstood: — but whether the fault is theirs, in not sufficiently explaining themselves, or speaking with that exact limitation and precision which one would expect on a point of such importance, and which, moreover, is so likely to be contested by us — or whether the fault may not be altogether on our side, in not understanding their language always so critically as to know “what they would be at” — I shall not decide; but ‘tis evident to me, when they affirm, “That they who have seen Paris, have seen every thing,” they must mean to speak of those who have seen it by day-light.”
                                    
                                    
                                    
                                    E.B. WHITE, “STUART LITTLE.” 107 WORDS.
                                    “In the loveliest town of all, where the houses were white and high and the elms trees were green and higher than the houses, where the front yards were wide and pleasant and the back yards were bushy and worth finding out about, where the streets sloped down to the stream and the stream flowed quietly under the bridge, where the lawns ended in orchards and the orchards ended in fields and the fields ended in pastures and the pastures climbed the hill and disappeared over the top toward the wonderful wide sky, in this loveliest of all towns Stuart stopped to get a drink of sarsaparilla.”
                                    
                                    W.G. SEBALD, “THE RINGS OF SATURN.” 107 WORDS.
                                    “All I know is that I stood spellbound in his high-ceilinged studio room, with its north-facing windows in front of the heavy mahogany bureau at which Michael said he no longer worked because the room was so cold, even in midsummer; and that, while we talked of the difficulty of heating old houses, a strange feeling came upon me, as if it were not he who had abandoned that place of work but I, as if the spectacles cases, letters and writing materials that had evidently lain untouched for months in the soft north light had once been my spectacle cases, my letters and my writing materials.”
                                    
                                    SAUL BELLOW, “THE ADVENTURES OF AUGIE MARCH.” 110 WORDS.
                                    “But it was the figure you cut as an employee, on an employee’s footing with the girls, in work clothes, and being of that tin-tough, creaking, jazzy bazaar of hardware, glassware, chocolate, chicken-feed, jewelry, drygoods, oilcloth, and song hits—that was the big thing; and even being the Atlases of it, under the floor, hearing how the floor bore up under the ambling weight of hundreds, with the fanning, breathing movie organ next door and the rumble descending from the trolleys on Chicago Avenue—the bloody-rinded Saturday gloom of wind-borne ash, and blackened forms of five-storey buildings rising up to a blind Northern dimness from the Christmas blaze of shops.”
                                    
                                    MARGARET ATWOOD, “THE HANDMAID’S TALE.” 111 WORDS.
                                    “She’s too young, it’s too late, we come apart, my arms are held, and the edges go dark and nothing is left but a little window, a very little window, like the wrong end of a telescope, like the window on a Christmas card, an old one, night and ice outside, and within a candle, a shining tree, a family, I can hear the bells even, sleigh bells, from the radio, old music, but through this window I can see, small but very clear, I can see her, going away from me, through the trees which are already turning, red and yellow, holding out her arms to me, being carried away.”
                                    
                                    VIRGINIA WOOLF, “MRS. DALLOWAY.” 116 WORDS.
                                    “It was not to them (not to Hugh, or Richard, or even to devoted Miss Brush) the liberator of the pent egotism, which is a strong martial woman, well nourished, well descended, of direct impulses, downright feelings, and little introspective power (broad and simple–why could not every one be broad and simple? she asked) feels rise within her, once youth is past, and must eject upon some object–it may be Emigration, it may be Emancipation; but whatever it be, this object round which the essence of her soul is daily secreted, becomes inevitably prismatic, lustrous, half looking glass, half precious stone; now carefully hidden in case people should sneer at it; now proudly displayed.”
                                    
                                    WILLIAM FAULKNER, “THAT EVENING SUN.” 118 WORDS.
                                    The streets are paved now, and the telephone and electric companies are cutting down more and more of the shade trees–the water oaks, the maples and locusts and elms–to make room for iron poles bearing clusters of bloated and ghostly and bloodless grapes, and we have a city laundry which makes the rounds on Monday morning, gathering the bundles of clothes into bright-colored, specially-made motor cars: the soiled wearing of a whole week now flees apparitionlike behind alert and irritable electric horns, with a long diminishing noise of rubber and asphalt like tearing silk, and even the Negro women who still take in white people’s washing after the old custom, fetch and deliver it in automobiles.
                                    
                                    JANE AUSTEN, “NORTHANGER ABBEY.” 119 WORDS.
                                    “Her plan for the morning thus settled, she sat quietly down to her book after breakfast, resolving to remain in the same place and the same employment till the clock struck one; and from habitude very little incommoded by the remarks and ejaculations of Mrs. Allen, whose vacancy of mind and incapacity for thinking were such, that as she never talked a great deal, so she could never be entirely silent; and, therefore, while she sat at her work, if she lost her needle or broke her thread, if she heard a carriage in the street, or saw a speck upon her gown, she must observe it aloud, whether there were anyone at leisure to answer her or not.”
                                    
                                    GABRIEL GARCIA MARQUEZ, “AUTUMN OF THE PATRIARCH.” 121 WORDS.
                                    “She had said I’m tired of begging God to overthrow my son, because all this business of living in the presidential palace is like having the lights on all the time, sir, and she had said it with the same naturalness with which on one national holiday she had made her way through the guard of honor with a basket of empty bottles and reached the presidential limousine that was leading the parade of celebration in an uproar of ovations and martial music and storms of flowers and she shoved the basket through the window and shouted to her son that since you’ll be passing right by take advantage and return these bottles to the store on the corner, poor mother.”
                                    
                                    DENIS JOHNSON, “DIRTY WEDDING.” 121 WORDS.
                                    “I liked to sit up front and ride the fast ones all day long, I liked it when they brushed right up against the buildings north of the Loop and I especially liked it when the buildings dropped away into that bombed-out squalor a little farther north in which people (through windows you’d see a person in his dirty naked kitchen spooning soup toward his face, or twelve children on their bellies on the floor, watching television, but instantly they were gone, wiped away by a movie billboard of a woman winking and touching her upper lip deftly with her tongue, and she in turn erased by a—wham, the noise and dark dropped down around your head—tunnel) actually lived.”
                                    
                                    
                                    Too many writers ignore a critical skill: writing good sentences.
                                    
                                    Take my course and get a toolbox of techniques:
                                    
                                    Practice creating strong sentences using the 2/3/1 rule
                                    Test your skills with handouts and writing challenges
                                    Learn how to write fun sentences that break the “rules”
                                    LEARN MORE
                                    WILLIAM FAULKNER, “ABSOLOM, ABSOLOM.” 122 WORDS.
                                    “From a little after two o’clock until almost sundown of the long still hot weary dead September afternoon they sat in what Miss Coldfield still called the office because her father had called it that–a dim hot airless room with the blinds all closed and fastened for forty-three summers because when she was a girl someone had believed that light and moving air carried heat and that dark was always cooler, and which (as the sun shone fuller and fuller on that side of the house) became latticed with yellow slashes full of dust motes which Qunetin thought of as being flecks of the dead old dried paint itself blown inward from the scaling blinds as wind might have blown them.”
                                    
                                    LEO TOLSTOY, “ANNA KARENINA.” 123 WORDS.
                                    “It is true that Alexei Alexandrovich vaguely sensed the levity and erroneousness of this notion of his faith, and he knew that when, without any thought that his forgiveness was the effect of a higher power, he had given himself to his spontaneous feeling, he had experienced greater happiness than when he thought every minute, as he did now, that Christ lived in his soul, and that by signing papers he was fulfilling His will, but it was necessary for him to think that way, it was so necessary for him in his humiliation to possess at least an invented loftiness from which he, despised by everyone, could despise others, that he clung to his imaginary salvation as if it were salvation indeed.”
                                    
                                    FYODOR DOSTOEVSKY, “THE BROTHERS KARAMAZOV.” 125 WORDS.
                                    “And this Fyodor Pavlovich began to exploit; that is, he fobbed him off with small sums, with short-term handouts, until, after four years, Mitya, having run out of patience, came to our town a second time to finish his affairs with his parent, when it suddenly turned out, to his great amazement, that he already had precisely nothing, that it was impossible even to get an accounting, that he had already received the whole value of his property in cash from Fyodor Pavlovich and might even be in debt to him, that in terms of such and such deals that he himself had freely entered into on such and such dates, he had no right to demand anything more, and so on and so forth.”
                                    
                                    ORHAN PAMUK, “MY NAME IS RED.” 127 WORDS.
                                    “We were two men in love with the same woman; he was in front of me and completely unaware of my presence as we walked through the turning and twisting streets of Istanbul, climbing and descending, we traveled like brethren through deserted streets given over to battling packs of stray dogs, passed burnt ruins where jinns loitered, mosque courtyards where angels reclined on domes to sleep, beside cypress trees murmuring to the souls of the dead, beyond the edges of snow-covered cemeteries crowded with ghosts, just out of sight of brigands strangling their victims, passed endless shops, stables, dervish houses, candle works, leather works and stone walls; and as we made ground, I felt I wasn’t following him at all, but rather, that I was imitating him.”
                                    
                                    F. SCOTT FITZGERALD, “THE JAZZ AGE.” 127 WORDS.
                                    “Sometimes, though, there is a ghostly rumble among the drums, an asthmatic whisper in the trombones that swings me back into the early twenties when we drank wood alcohol and every day in every way grew better and better, and there was a first abortive shortening of the skirts, and girls all looked alike in sweater dresses, and people you didn’t want to know said ‘Yes, we have no bananas’, and it seemed only a question of a few years before the older people would step aside and let the world be run by those who saw things as they were and it all seems rosy and romantic to us who were young then, because we will never feel quite so intensely about our surroundings any more.”
                                    
                                    TOM WOLFE, “A SUNDAY KIND OF LOVE.” 128 WORDS.
                                    “All round them, ten, scores, it seems like hundreds, of faces and bodies are perspiring, trooping and bellying up the stairs with arterio-sclerotic grimaces past a showcase full of such novel items as Joy Buzzers, Squirting Nickels, Finger Rats, Scary Tarantulas and spoons with realistic dead flies on them, past Fred’s barbershop, which is just off the landing and has glossy photographs of young men with the kind of baroque haircuts one can get in there, and up onto 50th Street into a madhouse of traffic and shops with weird lingerie and gray hair-dyeing displays in the windows, signs for free teacup readings and a pool-playing match between the Playboy Bunnies and Downey’s Showgirls, and then everybody pounds on toward the Time-Life Building, the Brill Building or NBC.”
                                   
                                  </textarea>                    
                                </div>
                                <!-- <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" rows="50" cols="1000" style="height: 550px; resize: none;"></textarea> -->
                               </div>
                              <div class="col">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" rows="50" cols="1000" style="height: 450px; resize: none;"></textarea>
                              </div>

                            </div>

                          </div> 
                      </div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">16 March 2022, Wednesday</h6>
                    <button type="button" routerLink ="" class="btn btn-primary btn-xs">Send</button>&nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
          </div>
          <!-- END GRID -->
          &nbsp;
          &nbsp;
            &nbsp;
            </div>
            &nbsp;
          </div>
      </main>
  