<main style="background-color:rgb(255, 255, 255); height: 93%; position: fixed; top: 125px; width:83%">
    <div>
      <app-topnav></app-topnav>
      <div style="overflow: auto; height: 100%;">
        <app-innernav></app-innernav>
        <!-- GRID SYSTEM -->
        <div class="row">
          <!-- BACKLOG LIST -->
          <!-- CREATE PROJECT CARD -->
          <div class="col" style="width: 100%">
            &nbsp;
            <div class="card border-light mb-3" style="width: 100%; border: none">
              <div class="card-header" style="width:100%; background-color:#ffffff; color:rgb(27, 27, 27);">Papers Submitted
                &nbsp;&nbsp;
              </div>
              <div class="card border-light mb-3" style="width: 95%;margin-left: auto; margin-right: auto; border: none;">
                &nbsp;&nbsp;
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="row">

                      <div class="col-9">File Name</div>
                      <div class="col"  style="margin-left:auto; margin-right:auto; cursor: pointer;">
                          <div class="row">
                            <div class="col-sm">
                              <img src="../../../../../../../assets/media/logos/file_download_black_24dp (1).svg" alt="ResearcherDNA-Logo" width="24px" height="24px" style="float:right">
                            </div>
                            <div class="col-sm">
                              <img src="../../../../../../../assets/media/logos/clear_red_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px" style="float:right">
                            </div>
                          </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
              </div>
              &nbsp;&nbsp;&nbsp;
            </div>
          </div>
          <div class="col-8">
            <div class="col">
              &nbsp;
              <div class="card" style="width: 18rem;" style="width: 100%;">
                <div class="card-body">
                  <div style="overflow: auto; height: 500px">
                    <div style="width: 95%; margin-left:auto; margin-right:auto">
                      <h5 class="card-title">
                        <label for="floatingTextarea">Notepad</label>
                        <div class="form-floating">
                          &nbsp;
                          &nbsp;
                          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" rows="50" cols="1000" style="height: 450px; resize: none;"></textarea>
                        </div>
                      </h5>  
                    </div>
                  </div>
                  <h6 class="card-subtitle mb-2 text-muted">16 March 2022, Wednesday</h6>
                  <button type="button" routerLink ="" class="btn btn-primary btn-xs">save</button>&nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
          <br>
          <br>
          <div class="card" style="width: 95%; margin-left: auto;margin-right: auto; ">
            <div class="card-body">
              <div class="input-group">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"  >Submit</button>
              </div>
            </div>
          </div>
          <!--  -->

          <!-- <div class="row">
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
          </div> -->
        <!-- END GRID -->
        &nbsp;
        &nbsp;
          &nbsp;
      </div>
      &nbsp;
      
    </div>
</main>
