<br>
<!-- <div class="row" style="background-color:rgb(235, 235, 240)"></div> -->
<!-- <div class="row" style="background-image: linear-gradient(to right,rgb(201, 201, 201) , rgb(252, 82, 255))"></div> -->
<div class="row" style="background-color:rgb(255, 255, 255);  border: 1px solid rgb(2, 166, 255)">
    <div class="col-sm">
      <!-- NAV BAR TO NAVIGATE THROUGH THE PROJECTS PART -->
      <nav class="navbar navbar-expand-lg navbar-light" style="width: 30%;">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link"  style="color:black" routerLink="/project">
                <img src="../../../../../../../assets/media/logos/arrow_back_black_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  style="color:black" routerLink="/project-write">
                <img src="../../../../../../../assets/media/logos/3721295_copybook_education_notebook_notes_school_icon.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/project-status">
                <img src="../../../../../../../assets/media/logos/285682_enveloppe_icon.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/project-events">
              <img src="../../../../../../../assets/media/logos/285670_calendar_icon.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-sm-10">
      <!-- TITLE OF THE SYSTEM - WHICH ALSO FUNCTIONS LIKE THE HOME BUTTON -->
      <ul class="list-group" style="width:80%; border: none; position: relative; top: 10px">
        <li class="list-group-item" style="border:none">Project Name <strong>{{projectObject.name}}</strong></li>
      </ul>
    </div>
  </div>

