<div class="row">
    <div class="col-sm">
      <!-- NAV BAR TO NAVIGATE THROUGH THE PROJECTS PART -->
      
      <nav class="navbar navbar-expand-lg navbar-light" style="width: 30%;">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            &nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link"  style="color:black" routerLink="/project">
                <img src="../../../../../../../assets/media/logos/arrow_back_black_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  style="color:black" routerLink="/project-write">
                <img src="../../../../../../../assets/media/logos/edit_note_black_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/project-status">Status</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-sm-10">
      <!-- TITLE OF THE SYSTEM - WHICH ALSO FUNCTIONS LIKE THE HOME BUTTON -->
      &nbsp;&nbsp;&nbsp;
      <ul class="list-group" style="width:80%">
        <li class="list-group-item">Project Name <strong>{{projectObject.name}}</strong></li>
      </ul>
    </div>
  </div>

