
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" [style.height]="navProperties.height" style="padding-right: 10px; margin-left: 10px;">
    <div style="float:right; cursor: pointer;" (click)="changeSideNav()">
        <img src="../../../../assets/media/logos/{{navProperties.sidenavIcon}}" alt="ResearcherDNA-Logo" width="16px" height="16px">
    </div>
    <div [style.opacity]="navProperties.navOpacity" [style.width]="navProperties.width">
        <div class="profile_picture_container">
            <div class="avatar-upload" style="margin-left:auto; margin-right: auto;">
                <div class="avatar-edit"><input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" /><label for="imageUpload"></label></div>
                <div class="avatar-preview"><div id="imagePreview" style="background-image: url('https://avatars.githubusercontent.com/u/58688272?v=4');"></div></div>
            </div>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto" id="myDetails">
            <li><a routerLink="/profile" class="nav-link link-dark" style="text-align: center;">Profile</a></li>
            <li><a routerLink="/dashboard" class="nav-link link-dark" style="text-align: center;">My Projects</a></li>
            <li><a routerLink="/chatbox" class="nav-link link-dark" style="text-align: center;">Chatbox</a></li>
        </ul>
        <hr>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->
&nbsp;
&nbsp;    



