<!--NEW EDITION-->
<main style="background-color:rgb(255, 255, 255); height: 92%; position: fixed; top: 75px;">
    <div style="margin-left:auto; margin-right:auto">
        <!--heading--->
        <div class="blog-heading"><br>
            <h3><hr><br>Blog Posts<br><br><hr></h3>
            <button type="button" class="btn btn-primary bat">Create Post</button>
        </div><br>
        <!-- <button class="bat">Create post</button> -->
    </div>
    <div style="width:100%; overflow:scroll; height: 700px;">
        <section id="blog">
            <!---blog-container--->
            <div class="row" >
                <div class="blog-container" >
                    <!---box-2--->
                    <div class="blog-box">
                        <!---img--->
                        <div class="blog-img">
                            <!--<img src="/../assets/orch.jpg" alt="blog">-->
                        </div>
                        <!---text--->
                        <div class="blog-text">
                            <span>12 April 2022 / Web Design</span>
                            <a href="#" class="blog-title">What Has Happened of All of the web Design Ideas?</a>
                            <p>Lorem ipsum</p>
                            <a href="#">Read More</a>
                        </div>	
                    </div>
                </div>
                <div class="blog-container">
                    <!---box-1--->
                    <div class="blog-box">
                        <!---img--->
                        <div class="blog-img">
                            <!-- <img src="/../assets/method.jpg" alt="blog"> -->
                        </div>
                        <!---text--->
                        <div class="blog-text">
                            <span>11 April 2022 / Web Design</span>
                            <a href="#" class="blog-title">What Has Happened of All of the web Design Ideas?</a>
                            <p>Lorem ipsum</p>
                            <a href="#">Read More</a>
                        </div>	
                    </div>
                </div>
                <div class="blog-container">
                    <!---box-3--->
                    <div class="blog-box">
                        <!---img--->
                        <div class="blog-img">
                            <!--<img src="/../assets/orch.jpg" alt="blog">-->
                        </div>
                        <!---text--->
                        <div class="blog-text">
                            <span>13 April 2022 / Web Design</span>
                            <a href="#" class="blog-title">What Has Happened of All of the web Design Ideas?</a>
                            <p>Lorem ipsum</p>
                            <a href="#">Read More</a>
                        </div>	
                    </div>
                </div> 
            </div> 
        </section>
        <section id="blog">
            <!--heading--->
            <div class="blog-heading"><br>
                <br><br><br>
            </div>
            <!---blog-container--->
            <div class="row">	
            <div class="blog-container">
                <!---box-2--->
                <div class="blog-box">
                    <!---img--->
                    <div class="blog-img">
                        <!--<img src="/../assets/orch.jpg" alt="blog">-->
                    </div>
                    <!---text--->
                    <div class="blog-text">
                        <span>12 April 2022 / Web Design</span>
                        <a href="#" class="blog-title">What Has Happened of All of the web Design Ideas?</a>
                        <p>Lorem ipsum</p>
                        <a href="#">Read More</a>
                    </div>	
                </div>
            </div>
            <div class="blog-container">
                <!---box-1--->
                <div class="blog-box">
                    <!---img--->
                    <div class="blog-img">
                        <!-- <img src="/../assets/method.jpg" alt="blog"> -->
                    </div>
                    <!---text--->
                    <div class="blog-text">
                        <span>11 April 2022 / Web Design</span>
                        <a href="#" class="blog-title">What Has Happened of All of the web Design Ideas?</a>
                        <p>Lorem ipsum</p>
                        <a href="#">Read More</a>
                    </div>	
                </div>
            </div>
            <div class="blog-container">
                <!---box-3--->
                <div class="blog-box">
                    <!---img--->
                    <div class="blog-img">
                        <!--<img src="/../assets/orch.jpg" alt="blog">-->
                    </div>
                    <!---text--->
                    <div class="blog-text">
                        <span>13 April 2022 / Web Design</span>
                        <a href="#" class="blog-title">What Has Happened of All of the web Design Ideas?</a>
                        <p>Lorem ipsum</p>
                        <a href="#">Read More</a>
                    </div>	
                </div>
            </div>
        </div>
        </section>
    </div>
</main>
  
  
  
