<main style="background-color:rgb(255, 255, 255); height: 93%; position: fixed; top: 70px; width:83%">
  <div>
    <app-topnav></app-topnav>
    <div style="width: 100%; height: 100%; position:relative;top:64px; background-color: rgb(255, 255, 255);">
      <div style="height: 60px; background-color:rgb(250, 250, 250); margin-left: auto; margin-right: auto;" [style.width]="innerWidth">
        <div  style="background-color:rgb(255, 255, 255); width:450px; border-radius: 8px; position:relative; top:10px; left:50px;  box-shadow: 2px 2px rgb(238, 238, 238);" >
          <div class="row row-cols-auto paddingTop" >
            <div class="col" style="width:40px; height:29px; background-color:transparent"></div>
            <div class="col paddingTop " >
              <img  src="../../../../../../../assets/media/logos/search_grey_24dp.svg" alt="ResearcherDNA-Logo" style="vertical-align: center;bottom:0; height: 24px; width: 24px; cursor: pointer;">
            </div>
            <div class="col">
              <input #inputSearchNotes type="text" class="form-control removeOutline" id="search-notes" placeholder="Search notes" style="background-color:transparent; border:none; outline: none; color:grey" (keyup)="updateClearButton()">
            </div>
            <div class="col" width="24px" height="24px" style="width:30px; height:30px; background-color:transparent" (click)="clearInputSearch()">
                <div class="col paddingTop" *ngIf="showClear">
                  <img src="../../../../../../../assets/media/logos/clear_grey_24dp.svg" alt="ResearcherDNA-Logo" style="vertical-align: center; height: 24px; width: 24px; cursor: pointer;">
              </div>
            </div>
            <div class="col" style="background-color:transparent"></div>
            <div class="col paddingTop ">
              <img src="../../../../../../../assets/media/logos/tune_grey_24dp.svg" alt="ResearcherDNA-Logo" style="vertical-align: center; height: 24px; width: 24px; cursor: pointer;">
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%" [style.height]="innerHeight">
        <div class="col" style="margin-left: auto; margin-right: auto; position: relative; left: 8px; top:2px;">
          <div class="card " style="width: 100%; border:none;">
              <caption style="background-color:aliceblue; text-align: center;">Notes</caption>
                <div style="overflow: scroll;height: 410px; width: 95%; margin-left: auto; margin-right: auto; background-color: rgb(255, 255, 255);">
                  <table class="table table-sm table-hover">
                    <tbody>
                      <tr *ngFor ='let us of notesData' (click)="openNote(us.id)" style="background-color:rgb(255, 255, 255); cursor:pointer">
                        <td>{{us.title}}</td>
                        <td style="color:rgb(117, 119, 119)">{{formatTime(us.updatedAt)}}</td>
                        <td>{{formatDate(us.updatedAt)}}</td>
                        <td></td>
                        <th>
                          <img src="../../../../../../../assets/media/logos/delete_red_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
          </div>
          <div style="top:-10px">
            <h6 class="card-subtitle mb-2 text-muted">Add Collaborator</h6>
            <div class="container">
              <div class="row">
                <div class="col-md-10">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Username" style="border:none;  background-color: rgb(245, 245, 245); outline:none">
                </div>
                <div class="col-6 col-md-2">
                  <button type="button" routerLink="" class="btn btn-primary btn-xs">Save</button>
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="card border-light mb-3" style="width: 100%;margin-left: auto; height: 160px; top:-10px;">
            <caption style="background-color:aliceblue; text-align: center;">Collaborators</caption>
            <div style="overflow: scroll; height: 150px; width: 100%; margin-left: auto; margin-right: auto; background-color: rgb(253, 253, 253);">
              <div style="height: 350px; width: 97%; margin-left: auto; margin-right: auto;">
                <table class="table table-sm table-hover" style="width:100%">
                  <tbody>
                    <tr *ngFor ='let us of notesData' (click)="openNote(us.id)" style="background-color:rgb(253, 253, 255); cursor:pointer">
                      <td><img src="https://avatars.githubusercontent.com/u/58688272?v=4" height="32px" style="border-radius:40px"></td>
                      <td style="color:rgb(117, 119, 119);"><div style="width:280px">{{testVariable}}</div></td>
                      <td style="color:rgb(117, 119, 119);">collaborator</td>
                      <td></td>
                      <th>
                        <img src="../../../../../../../assets/media/logos/delete_red_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
                      </th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8" style="background-color:rgb(255, 255, 255)">
          <div class="card border-light mb-3" style="width: 100%; border:none; background-color: rgb(255, 255, 255); ">
            <div class="card-header" style="width:100%; background-color:#ffffff; color:rgb(255, 255, 255);">
              <input #inputNoteTitle class="form-control form-control-sm" placeholder="Enter title here" style="border:none" value="{{noteObject.title}}">
            </div>
            <br>
            <div class="card" style="width: 100%; margin-left: auto; margin-right: auto; border-radius: 0px;">
              <div class="card-body">
                <div>
                  <div style="overflow: scroll; width: 97%; margin-left: auto; margin-right: auto; position:initial; border: none;">
                    <textarea #inputNoteText style="width: 100%; height: 490px; resize: none; border:none; outline: none;" placeholder="Write here...">
                      {{noteObject.text}}
                    </textarea>                    
                  </div>
                  <h6 #noteDate class="card-subtitle mb-2 text-muted">{{noteObject.createdAt}}</h6>
                <div>
                  <button type="button" routerLink ="" style=" border:none" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Save">
                    Save
                  </button>&nbsp;
                  <button type="button" routerLink ="" class="btn btn-light btn-xs" style=" border:none"  data-toggle="tooltip" data-placement="top" title="Open in project">
                    Guideline
                  </button>&nbsp;&nbsp;
                  <button type="button" routerLink ="" class="btn btn-danger btn-xs" style=" border:none; background-color:red" data-toggle="tooltip" data-placement="top" title="Delete">
                    Delete
                  </button>&nbsp;&nbsp;
                  <button  type="button" class="btn btn-secondary" (click)="clearNote()" style=" border:none; " data-toggle="tooltip" data-placement="top" title="New">
                    New
                  </button>
                  &nbsp;&nbsp;
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</main>

