<main >
        <div class="container" style="position:relative; top:68px; left:5px; width:100%;">
          <div class="card-header" style="border-radius: 0px;">
            <p class="h2" style="color:white">Chatbox</p>
          </div>
          <div class="row">
            <div class="col"  style="padding:none">
              <div class="card" style="width:100%; border:none">
                <caption style="background-color:aliceblue; text-align: center;">Open Chat..</caption>
                <table class="table table table-hover">
                  <tbody>
                    <tr *ngFor ='let chatGroup of chatGroups' (click)="openChatGroup(chatGroup.groupId)" style="background-color:rgb(255, 255, 255); cursor:pointer">
                      <td>{{chatGroup.title}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            </div>
            <div class="col-10"  style="padding-left:none;">
              <div #chatBoxPage style="height:650px; overflow:scroll; background-color: rgb(199, 199, 199); padding: none;">
                <br>
                <div *ngFor= 'let chat of chats' style="width:90%; margin-left:auto; margin-right: auto;">
                  <div style="margin-left:auto; margin-right:auto; background-color:rgb(250, 250, 249); border-radius: 10px;">
                    <br>
                      <div style=" margin-left: auto; margin-right: auto;">
                        <div class="col" *ngIf="chat.privilege">
                            <img src="../../../../../assets/media/logos/authorised_green.svg"  width="24px" height="24px">
                        </div>
                        <div class="col" style="color:rgb(79, 79, 79)">&nbsp;&nbsp; ~ {{chat.senderEmail}}
                          <div *ngIf="chat.isSender" class="time-right " (click)="deleteChatMessage(chat.chatId)" style="cursor:pointer">
                            <span>
                              <img src="../../../../../../../assets/media/logos/delete_red_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
                            </span>
                          </div>
                        </div>
                        <br>
                        <div class="card-body" style="background-color:white; border-radius: 10px; width:95%; margin-left: auto; margin-right: auto;">
                          {{chat.message}}
                          <span class="time-right">{{chat.datetime}}</span>
                        </div>
                      </div>
                      <br>
                  </div>
                  <br>
                </div>
              </div>
            </div>      
          </div>
          <div style="background-color:whitesmoke">
            <br>
            <div class="row">
              <div class="col-10" style="border-radius: 20px; background-color: rgb(255, 255, 255); position: relative; left: 20px  ;">
                <textarea #inputChatBox class="form-control texArea" id="exampleFormControlTextarea1" placeholder="Type a message" (keyup)="auto_grow()"></textarea>
              </div>
              <div class="col" style="text-align:left; position: relative; left:20px">
                <button class="btn btn-primary" style="border-radius: 50px;" (keydown)="sendMessage()" (keyup)="scrollDown()"  (mousedown)="sendMessage()" (mouseup)="scrollDown()">Send</button>
              </div>
            </div>
            <br>
          </div>
        </div>
</main>
