<main style="background-color:rgb(255, 255, 255); height: 93%; position: fixed; top: 70px; width:83%">
  <div>
    <div class="card" style="border:none">
      <div class="card-header">
        <p class="h2" style="color:white">Chatbox</p>
      </div>
      <div>
        <div class="row">
          <div class="col">
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">General</li>
              </ul><br>
            </div>
          </div>
          <div class="col-10 chatBoxPage">
            <br>
            <div #chatBoxPage style="height:650px; overflow:scroll">
              <div *ngFor= 'let chat of chats'>
                <div style="width:90%; margin-left:auto; margin-right:auto; background-color:rgb(250, 250, 249); border-radius: 10px;">
                  <br>
                    <div style="width:98%; margin-left: auto; margin-right: auto;">
                          <div class="col" *ngIf="chat.privilege">
                              <img src="../../../../../assets/media/logos/authorised_green.svg">
                          </div>
                          <div class="col" style="color:rgb(79, 79, 79)"> ~ {{chat.senderEmail}}
                            <div *ngIf="chat.isSender" class="time-right" (click)="deleteChatMessage()" style="cursor:pointer">
                              <span>
                                <img src="../../../../../../../assets/media/logos/delete_red_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
                              </span>
                            </div>
                          </div>8548
                      <br>
                      <div class="card-body" style="background-color:white; border-radius: 10px;">
                        {{chat.message}}
                        <span class="time-right">{{chat.datetime}}</span>
                      </div>
                    </div>
                    <br>
                </div>
                <br>
              </div>
            </div>
          </div>      
        </div>
        <div style="background-color:whitesmoke">
          <br>
          <div class="row">
            <div class="col-10" style="border-radius: 20px; background-color: rgb(255, 255, 255); position: relative; left: 20px  ;">
              <textarea #inputChatBox class="form-control texArea" id="exampleFormControlTextarea1" placeholder="Type a message" (keyup)="auto_grow()"></textarea>
            </div>
            <div class="col" style="text-align:left; position: relative; left:20px">
              <button class="btn btn-primary" style="border-radius: 50px;" (click)="sendMessage()">Send</button>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</main>
