::-webkit-scrollbar {width: 5px; height: 0px;}


::-webkit-scrollbar-thumb {
  background: rgba(221, 221, 221, 0); 
} 





.card-header{
  background-color:dodgerblue;
}

.areaTex{
  position: relative;
  float: right;
  right: 300px;
  bottom: 80px;
}

.texArea{
  resize: none;
  width:99%;
  margin-left: auto;
  margin-right: auto;
  border:none;
  max-height: 150px;
  color:rgb(73, 73, 73);
  overflow:"scroll";
}

.texArea:focus
{
  outline:none !important;
  box-shadow: none !important;
}

.dvi{
  /* position: relative;
  float: right;
  bottom: 100px;
  width: 63.5%; */
  background-color: rgb(227, 227, 227);
}

.chatBoxPage
{
  /* background-image: url(../../../../../assets/media/background/chat/spectrum-gradient.svg); */
  background-size: cover;
  height: 100%;
  background-color: rgb(214, 214, 214);
}

.sendMessageDiv
{
  width:100%;
  background-color: rgb(246, 246, 246);
  max-height: 200px;
  height: 100%;
  position:relative;
  top:300px;

}

.sheada{
  
  position: relative;
  top: 18px;
}
.cvrd ul li:hover{
  background-color: lightgray;
  
}

/* .btn{

} */

/* table{
  position: relative;
  top: -120px;
} */

.vrd{
  
  position: relative;
  float: right;
  top: -120px;
}

/* body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
} */

.container {
  position: relative;
  float: right;
  border: 0 #dedede;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  right: 20px;
  top: -100px;
}

.darker {
  position: relative;
  float: right;
  border-color: #ccc;
  background-color: #fff;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.name-right {
    bottom: 10px;
  float: left;
  color:black;
}

.time-left {
  float: left;
  color: #999;
}



.deleteImg
{
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

.deleteImg:hover{
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}