
<main>
    <app-sidenav></app-sidenav>
    &nbsp;
    <div>
        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnavbar">
  <div class="mo">
  <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
  </div>
  
  <a  href="#"><i class="fa fa-fw fa-home" aria-hidden="true"></i> Home</a> 
  <a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;About</a>
  <a href="#"><i class="fa fa-rss" aria-hidden="true"></i>&nbsp;Blog</a> 
 
</div>

<div class="sidebar">

  <div class="image">
      <img src="assets/images.jpg" alt="avatar" class="avatar">
    </div>
    <div class="nav">

        <a class="list-group-item" href="#">
                              <div class="d-flex justify-content-between align-items-center">
                                  <div><i class="fa fa-user" aria-hidden="true"></i>
                                      <div class="d-inline-block font-weight-medium text-uppercase">&nbsp;Profile Settings</div>
                                  </div>
                              </div>
                          </a>

                          <a class="list-group-item" href="#" target="__blank">
                            <div class="d-flex justify-content-between align-items-center">
                                <div><i class="fa fa-briefcase" aria-hidden="true"></i>
                                    <div class="d-inline-block font-weight-medium text-uppercase">&nbsp;My Projects</div>
                                </div>
                            </div>
                        </a>
                        
                          <a class="list-group-item active" href="#">
                            <div class="d-flex justify-content-between align-items-center">
                                <div><i class="fa fa-tasks" aria-hidden="true"></i>
                                    <div class="d-inline-block font-weight-medium text-uppercase">&nbsp;Guidelines</div>
                                </div>
                            </div>
                        </a>

                        <a class="list-group-item" href="#" target="__blank">
                            <div class="d-flex justify-content-between align-items-center">
                                <div><i class="fa fa-link" aria-hidden="true"></i>
                                    <div class="d-inline-block font-weight-medium text-uppercase">&nbsp;Source Hub</div>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item" href="#" target="__blank">
                            <div class="d-flex justify-content-between align-items-center">
                                <div><i class="fa fa-comments-o" aria-hidden="true"></i>
                                    <div class="d-inline-block font-weight-medium text-uppercase">&nbsp;Chat Box</div>
                                </div>
                            </div>
                        </a>
</div>
</div>

<!--Dropdown-->
<div class="dropdown">
  <button class="dropbtn">Guidelines</button>
  <div class="dropdown-content">
    <a href="#">Title</a>
    <a href="#">Intro</a>
    <a href="#">Body</a>
    <a href="#">Conclusion</a>
    <a href="#">References</a>
  </div>
</div>

<div class="board">   
    <h5 class="title">Title: <input type="text"></h5>
</div>  
<div class="containers">
    
        <div class="card">
            <div class="card">
                <div class="project-info-box mt-0">
                    <h5>Supervisor Feedback</h5><hr>
                    <div class="card">
                        <div class="project-info-box mt-0">
                        
                        </div>
                    </div>
                </div><!-- / project-info-box -->
            </div>


            <div class="project-info-box mt-0">
                <h5>Response:</h5><hr>
                <div class="card">
                    <textarea name="" id="" cols="50" rows="7">Write here...</textarea>
                </div><br>
                <button class="btnsend">Send</button>
            </div>
            
            
    </div>
    <button class="btnsend" routerLink="/proposal">Back</button>
</div>


  

  
    </div>
    &nbsp;
</main>
