<div style=" padding-bottom: 10px;">
    <ul class="nav nav-tabs"  id="myTab" role="tablist" style="background-color:#ffffff00;">
      &nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a  class="nav-link active" id="home-tab" data-toggle="tab" routerLink="/dashboard" role="tab" aria-controls="home" aria-selected="false">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:rgb(163, 163, 163)" id="profile-tab" data-toggle="tab" routerLink="/notes" role="tab" aria-controls="profile" aria-selected="false">Notes</a>
      </li>
      <li class="nav-item"  style="color:rgb(163, 163, 163)">
        <a class="nav-link" style="color:rgb(163, 163, 163)" id="contact-tab" data-toggle="tab" routerLink="/guidelines" role="tab" aria-controls="contact" aria-selected="true">Guidelines</a>
      </li>
    </ul>
</div>