<main style="background-color:rgb(255, 255, 255); height: 93%; position: fixed; top: 125px; width:83%">
  <div>
      <app-topnav></app-topnav>
        <app-innernav></app-innernav>
        <!-- GRID SYSTEM -->
        <div class="row">
          <!-- BACKLOG LIST -->
          <!-- CREATE PROJECT CARD -->
          <div class="col-sm" style="width: 100%; background-color: rgb(255, 255, 255); margin-left: auto; margin-right: auto;">
            &nbsp;
            <div class="card border-light mb-3" style="width: 100%; border: none">
              <div class="card-header" style="width:100%; background-color:#ffffff; color:rgb(27, 27, 27);">Guidelines
                &nbsp;&nbsp;
              </div>
              <div class="card border-light mb-3" style="width: 100%;margin-left: auto; margin-right: auto; border: none;">
                &nbsp;&nbsp;
                <div style="overflow: scroll; height: 400px; width: 100%; margin-left: auto; margin-right: auto;">
                  <ul class="list-group" style="width: 90%; margin-left: auto; margin-right: auto;">
                    <li id="listId{{us.id}}" [ngStyle]="{'background-color':activeState}" class="list-group-item" *ngFor = 'let us of guideLinesObject; let i=index;'>
                      <div class="row">
                        <div class="col-8">{{us.name}}</div>
                        <div class="col">
                          <a style="color:rgb(0, 0, 0); cursor: pointer;" (click)="openGuideline(us.id)" id="{{us.id}}" (click)="activeState=setStateAsActive()">
                            <img src="../../../../../../../assets/media/logos/launch_black_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px" style="float:right">
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              &nbsp;&nbsp;&nbsp;
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col" >
              &nbsp;
              <div class="card" style="width: 18rem;" style="width: 100%;">
                <div class="card-body">
                  <p class="card-text" style="font-weight: bold;">{{guideLineObject.name}}</p>
                  <hr>
                  <div style="overflow: auto; height: 500px">
                    <div style="width: 95%; margin-left:auto; margin-right:auto">
                      <h5 class="card-title">
                        {{guideLineObject.text}}
                      </h5>  
                    </div>
                  </div>
                  <h6 class="card-subtitle mb-2 text-muted">{{datepipe.transform(this.guideLineObject.updatedAt, 'yyyy-MM-dd hh:mm:ss')}}</h6>
                  <button type="button" routerLink ="" class="btn btn-primary btn-xs">Next</button>&nbsp;
                </div>
              </div>
              <div class="row">
                <div class="col-sm">col-sm</div>
                <div class="col-sm">col-sm</div>
                <div class="col-sm">col-sm</div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="col">
              &nbsp;
              <div class="card" style="width: 18rem;" style="width: 100%; ">
                <div class="card-body" style="padding: 15px; margin: 0;">
                  <div class="mb-3" style="margin: 0px 0px 0px;">

                    <div *ngIf="isDisplayErrorInputMessage" class="alert alert-danger alert-dismissible fade show" role="alert"  style="width:100%; margin-right:auto; margin-left: auto;">
                      <strong>NB</strong> &nbsp;Enter all fields
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeErrorInputMessage()"></button>
                    </div>

                    <div *ngIf="isDisplaySuccessNoteMessage" class="alert alert-success alert-dismissible fade show" role="alert"  style="width:100%; margin-right:auto; margin-left: auto;">
                      <strong>{{createNoteResponse}}:</strong> Note Saved &nbsp;
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeSuccessNoteMessage()"></button>
                    </div>
                    <input #noteTitle type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Title" style="border:none;  background-color: rgb(245, 245, 245); outline:none">
                  </div>
                  <div class="mb-3">
                    <textarea #noteText class="form-control" id="exampleFormControlTextarea1" style=" resize: none;" rows="13"></textarea>
                  </div>
                  <button type="button" (click)="createNewNote()" class="btn btn-primary btn-xs">Save</button>&nbsp;
                  <button type="button" (click)="clearNoteEntry()" class="btn btn-default">Clear</button>
                  <hr >
                  <!-- MY NOTES DIV - MAKE THIS DIV SCROLLABLE -->
                  <div style="overflow:scroll; height:auto; width: 100%; background-color: rgb(255, 255, 255);">
                    <div class="row">
                      <div class="card" style="border: none; ">
                        <div class="card-body" style="border:none; padding: none; ">
                          <div class="row">
                            <div>
                              <div class="card border-light mb-3" style="width: 100%; border: none;">
                                <div class="card-header" style="width:100%; background-color:#ffffff; color:rgb(27, 27, 27);">Notes
                                </div>
                                <div class="card border-light mb-3" style="width: 100%;margin-left: auto; margin-right: auto; border: none;">
                                  <div style="overflow: scroll; height: 300px; width: 100%; margin-left: auto; margin-right: auto;">
                                    <ul class="list-group" style="width: 90%; margin-left: auto; margin-right: auto;">
                                      <li class="list-group-item" *ngFor = 'let us of notesData'>
                                        <div class="row">
                                          <div class="col-8">{{us.title}}</div>
                                          <div class="col">
                                            <a style="color:black; cursor: pointer;" routerLink="/notes" (click)="openInNotes(us.id)" id="{{us.id}}">
                                              <img src="../../../../../../../assets/media/logos/edit_note_black_24dp.svg" alt="Edit Note" width="24px" height="24px" style="float:right">
                                            </a>
                                          </div>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</main>
